<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register Your Account</title>

    <!-- Meta Description -->
    <meta
      name="description"
      content="Register for a Proflix account and enjoy unlimited access to your favorite movies and series."
    />

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Register Your Account - Proflix" />
    <meta
      property="og:description"
      content="Sign up to Proflix and start watching your favorite movies and series."
    />
    <meta property="og:image" content="/images/logo.png" />
    <meta property="og:url" content="https://labpro-production.up.railway.app/register" />
    <meta property="og:type" content="website" />

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Register Your Account - Proflix" />
    <meta
      name="twitter:description"
      content="Sign up to Proflix and start watching your favorite movies and series."
    />
    <meta name="twitter:image" content="/images/logo.png" />

    <!-- Favicon -->
    <link rel="icon" href="/images/logo.png" type="image/png" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />

    <!-- CSS and JavaScript -->
    <link href="/css/main.css" rel="stylesheet" />
    <script defer src="/js/register.js"></script>
  </head>
  <body
    style="
      background-image: url('/images/netflix-bg.webp');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
    "
    class="font-sans flex justify-center items-center min-h-screen"
  >
    <div class="w-full max-w-lg p-10 rounded-lg shadow-md bg-mainblack">
      <section class="flex flex-col items-center justify-center">
        <img src="/images/logo.png" class="object-cover items-center" alt="Image of Proflix Logo" />

        {{> typography/title
        className="text-center text-primary p-6"
        content="Register Your Account"
        }}
      </section>

      <form id="loginForm">
        {{> input id="email" label="Email" name="email" type="text" placeholder="Enter your email"}}
        {{> input id="username" label="Username" name="username" type="text" placeholder="Enter your username"}}
        {{> input
          id="password"
          label="Password"
          name="password"
          type="password"
          placeholder="Enter your password"
        }}
        {{> input
          id="firstName"
          label="First Name"
          name="firstName"
          type="text"
          placeholder="Enter your first name"
        }}
        {{> input
          id="lastName"
          label="Last Name"
          name="lastName"
          type="text"
          placeholder="Enter your last name"
        }}
        <div class="flex items-center w-full">
          {{> buttons/default
            id="registerButton"
            type="button"
            onClick="registerUser()"
            content="Register"
            className="w-full mt-5"
          }}
        </div>

        <section class="text-center mt-6">
          {{> typography/body
            className="text-mainwhite"
            content="Already have an account?"
          }}
          <a class="text-primary hover:text-mainwhite transition-colors duration-300" href="/login"
            >Login
          </a>
        </section>
        <div
          id="loadingSpinner"
          class="hidden fixed inset-0 items-center justify-center bg-black bg-opacity-50 z-50"
        >
          <section
            class="flex flex-col gap-2 items-center justify-center rounded-lg bg-mainblack bg-opacity-80 p-6"
          >
            <img
              src="/images/logo.png"
              class="object-cover items-center animate-pulse"
              alt="Image of Proflix logo"
            />
            <p class="text-mainwhite text-xl font-semibold">Loading...</p>
          </section>
        </div>
      </form>
    </div>
  </body>
</html>
