<nav class="bg-mainblack py-4 px-10 h-20 w-full absolute top-0 z-50">
  <div class="w-full flex justify-start items-center">
    <!-- Logo -->
    <a href="/">
      <img src="/images/logo.png" class="object-cover items-center w-[152px] h[50px]" />
    </a>

    <!-- Links -->
    <div class="hidden md:flex space-x-12 ml-auto items-center">
      {{#if isAuthenticated}}
      <a href="/bought-films" class="text-mainwhite">Bought Films</a>
      <a href="/wishlist" class="text-mainwhite">WishList</a>
      <a href="#" onclick="handleLogout()" class="text-mainwhite">Logout</a>
      <div class="bg-mainwhite p-3 flex flex-row gap-2 rounded-lg items-center justify-center">
        <!-- Balance Icon -->
        <svg
          height="28px"
          width="28px"
          version="1.1"
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 512 512"
          xml:space="preserve"
        >
          <path
            style="fill: #ffce2a"
            d="M256,0l-20.898,256L256,512c141.385,0,256-114.615,256-256S397.385,0,256,0z"
          />
          <path
            style="fill: #fdeb95"
            d="M0,256c0,141.385,114.615,256,256,256V0C114.615,0,0,114.615,0,256z"
          />
          <path
            style="fill: #ffad00"
            d="M256,53.897L235.102,256L256,458.103c111.44,0,202.103-90.663,202.103-202.103 S367.44,53.897,256,53.897z"
          />
          <path
            style="fill: #ffce2a"
            d="M53.897,256c0,111.44,90.663,202.103,202.103,202.103V53.897C144.56,53.897,53.897,144.56,53.897,256 z"
          />
          <path
            style="fill: #53b400"
            d="M382.12,230.753c0-20.085-16.283-36.368-36.368-36.368c-12.833,0-25.073,3.222-36.324,8.187l0,0 L235.102,256l74.326,53.428c11.251,4.963,23.49,8.187,36.324,8.187c20.085,0,36.368-16.283,36.368-36.367 c0-9.81-3.891-18.706-10.206-25.248C378.229,249.459,382.12,240.563,382.12,230.753z"
          />
          <g>
            <path
              style="fill: #6cd800"
              d="M202.572,202.572c-11.251-4.963-23.49-8.187-36.324-8.187c-20.085,0-36.368,16.283-36.368,36.368 c0,9.81,3.891,18.706,10.206,25.247c-6.314,6.541-10.206,15.437-10.206,25.247c0,20.085,16.283,36.368,36.368,36.368 c12.833,0,25.073-3.223,36.324-8.187l0,0l37.232-15.811L256,256l-20.898-43.363L202.572,202.572z"
            />
            <path
              style="fill: #6cd800"
              d="M309.428,202.572c4.963-11.251,8.187-23.49,8.187-36.324c0-20.085-16.283-36.368-36.368-36.368 c-9.81,0-18.706,3.891-25.247,10.206l-20.898,52.855L256,256L309.428,202.572z"
            />
            <path
              style="fill: #6cd800"
              d="M256,256l-20.898,63.06L256,371.915c6.541,6.314,15.437,10.206,25.247,10.206 c20.085,0,36.368-16.283,36.368-36.368c0-12.833-3.223-25.073-8.187-36.324L256,256z"
            />
          </g>
          <g>
            <path
              style="fill: #93f340"
              d="M256,140.085L256,140.085c-6.541-6.314-15.437-10.206-25.247-10.206 c-20.085,0-36.368,16.283-36.368,36.368c0,12.833,3.222,25.073,8.187,36.324L256,256l0,0V140.085z"
            />
            <path
              style="fill: #93f340"
              d="M256,256l-53.428,53.428c-4.963,11.251-8.187,23.49-8.187,36.324 c0,20.085,16.283,36.368,36.368,36.368c9.81,0,18.706-3.891,25.247-10.206l0,0L256,256L256,256z"
            />
          </g>
        </svg>
        <span class="text-mainblack font-semibold">{{ balance }}</span>
      </div>
      {{else}}
      <a href="/login" class="text-mainwhite">Login</a>
      <a href="/register" class="text-mainwhite">Register</a>
      {{/if}}
    </div>

    <!-- Hamburger Icon -->
    <button id="menu-toggle" class="block md:hidden text-mainwhite ml-auto">
      <svg
        height="32px"
        id="Layer_1"
        style="enable-background: new 0 0 32 32"
        version="1.1"
        viewBox="0 0 32 32"
        width="32px"
        xml:space="preserve"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        fill="#ffffff"
      >
        <path
          d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z"
        />
      </svg>
    </button>
  </div>

  <!-- Mobile Menu Popover -->
  <div
    id="mobile-menu"
    class="hidden flex-col space-y-2 bg-blackred p-4 absolute top-20 left-0 w-full rounded-b-lg"
  >
    {{#if isAuthenticated}}
    <a href="/bought-films" class="text-mainwhite">Bought Films</a>
    <a href="/wishlist" class="text-mainwhite">WishList</a>
    <a href="#" onclick="handleLogout()" class="text-mainwhite">Logout</a>
    <div class="bg-mainwhite p-3 flex flex-row gap-2 rounded-lg items-center">
      <!-- Balance Icon -->
      <svg
        height="24px"
        width="24px"
        version="1.1"
        id="Layer_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 512 512"
        xml:space="preserve"
      >
        <path
          style="fill: #ffce2a"
          d="M256,0l-20.898,256L256,512c141.385,0,256-114.615,256-256S397.385,0,256,0z"
        />
        <path
          style="fill: #fdeb95"
          d="M0,256c0,141.385,114.615,256,256,256V0C114.615,0,0,114.615,0,256z"
        />
        <path
          style="fill: #ffad00"
          d="M256,53.897L235.102,256L256,458.103c111.44,0,202.103-90.663,202.103-202.103 S367.44,53.897,256,53.897z"
        />
        <path
          style="fill: #ffce2a"
          d="M53.897,256c0,111.44,90.663,202.103,202.103,202.103V53.897C144.56,53.897,53.897,144.56,53.897,256 z"
        />
        <path
          style="fill: #53b400"
          d="M382.12,230.753c0-20.085-16.283-36.368-36.368-36.368c-12.833,0-25.073,3.222-36.324,8.187l0,0 L235.102,256l74.326,53.428c11.251,4.963,23.49,8.187,36.324,8.187c20.085,0,36.368-16.283,36.368-36.367 c0-9.81-3.891-18.706-10.206-25.248C378.229,249.459,382.12,240.563,382.12,230.753z"
        />
        <g>
          <path
            style="fill: #6cd800"
            d="M202.572,202.572c-11.251-4.963-23.49-8.187-36.324-8.187c-20.085,0-36.368,16.283-36.368,36.368 c0,9.81,3.891,18.706,10.206,25.247c-6.314,6.541-10.206,15.437-10.206,25.247c0,20.085,16.283,36.368,36.368,36.368 c12.833,0,25.073-3.223,36.324-8.187l0,0l37.232-15.811L256,256l-20.898-43.363L202.572,202.572z"
          />
          <path
            style="fill: #6cd800"
            d="M309.428,202.572c4.963-11.251,8.187-23.49,8.187-36.324c0-20.085-16.283-36.368-36.368-36.368 c-9.81,0-18.706,3.891-25.247,10.206l-20.898,52.855L256,256L309.428,202.572z"
          />
          <path
            style="fill: #6cd800"
            d="M256,256l-20.898,63.06L256,371.915c6.541,6.314,15.437,10.206,25.247,10.206 c20.085,0,36.368-16.283,36.368-36.368c0-12.833-3.223-25.073-8.187-36.324L256,256z"
          />
        </g>
        <g>
          <path
            style="fill: #93f340"
            d="M256,140.085L256,140.085c-6.541-6.314-15.437-10.206-25.247-10.206 c-20.085,0-36.368,16.283-36.368,36.368c0,12.833,3.222,25.073,8.187,36.324L256,256l0,0V140.085z"
          />
          <path
            style="fill: #93f340"
            d="M256,256l-53.428,53.428c-4.963,11.251-8.187,23.49-8.187,36.324 c0,20.085,16.283,36.368,36.368,36.368c9.81,0,18.706-3.891,25.247-10.206l0,0L256,256L256,256z"
          />
        </g>
      </svg>
      <span class="text-mainblack font-semibold">{{ balance }}</span>
    </div>
    {{else}}
    <a href="/login" class="text-mainwhite">Login</a>
    <a href="/register" class="text-mainwhite">Register</a>
    {{/if}}
  </div>
</nav>

<script>
  // JavaScript to toggle the mobile menu
  document.getElementById('menu-toggle').addEventListener('click', function () {
    const menu = document.getElementById('mobile-menu');
    menu.classList.toggle('hidden');
    menu.classList.toggle('flex');
  });

  async function handleLogout() {
    try {
      const res = await fetch('/web-auth/logout', {
        method: 'POST',
      });

      const data = await res.json();

      if (data.status === 'success') {
        window.location.href = '/login';
      } else {
        alert('Failed to logout : ' + data.message);
        location.reload();
      }
    } catch (error) {
      console.error('Failed to logout : ', error);
      alert('Failed to logout : ' + error.message);
      location.reload();
    }
  }
</script>
