<button
  id="{{ id }}"
  class="bg-primary text-main-white cursor-pointer font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
  type="{{ type }}"
  onclick="{{ onClick }}"
>
  {{ content }}
</button>
